<template name="layout">
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Trello Burndown</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{pathFor 'newSprint'}}">New Sprint</a></li>
            <li><a href="{{pathFor 'sprintList'}}">All Sprints</a></li>
          </ul>
          <ul class="nav pull-right">
            <li>{{loginButtons}}</li>
          </ul>
        </div>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{yield}}
    </div>
  </div>
</template>
