{
  "authorizationMethod": "username",
  "authorizedUsernames": [
    "frodo"
  ],
  "public": {
    "appName": "Trellfire"
  },
  "trelloBoardId": "TRELLO BOARD ID",
  "trelloToken": "OAUTH TOKEN",
  "trelloKey": "TRELLO DEVELOPER KEY"
}
