/* CSS declarations go here */

html, body{
  height:100%;
}

body {
  background: #eee;
  color: #666666;
}

.container {
  height: 90%;
}

#main {
  height: 90%;
}

input.end {
  margin: 0;
}

#chart {
  min-height: 90%;
  width: 75%;
  float: left;
}

#legend {
  min-height: : 90%;
  width: 20%;
  margin-left: 4%;
  float: left;
}

.sprint {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.sprint {
  *zoom: 1;
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
  position: relative;
  opacity: 1;
}
.sprint:before, .sprint:after {
  content: "";
  display: table;
}
.sprint:after { clear: both }
.sprint.invisible { opacity: 0 }
.sprint .sprint-content { float: left }
.sprint .sprint-content h3 {
  margin: 0;
  line-height: 1.4;
  font-size: 18px;
}
.sprint .sprint-content h3 a {
  display: inline-block;
  margin-right: 5px;
}
.sprint .sprint-content h3 span {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  color: #aaaaaa;
}
.sprint .sprint-content p { margin: 0 }
